<div>
    <nav>
        <ul style="display: flex;">
            <li style="margin-right: 20px;"> <a href="/"> Home</a></li>
            <li style="margin-right: 20px;"><a href="input">Input</a></li>
            <li style="margin-right: 20px;"><a href="fileupload">Upload file</a></li>
            <li style="margin-right: 20px;"><a href="contact">Contact</a></li>
            <li style="margin-right: 20px;"><a href="about">About</a></li>
            
        </ul>

</nav>
</div>