<%- include('partials/head')  %>
    <div>
        <%- include('partials/inputs')  %>
        <div>
            <strong>
                This is my EJS assignment
            </strong>
        </div>
    </div>

    <%- include('partials/footer')  %>